@model IEnumerable<SchoolManagementApplication.Models.SCHOOLMANAGEMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STUD_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STUD_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STUD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLASS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.STUD_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.STUD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.STUD_ID })
        </td>
    </tr>
}

</table>
